@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    scroll-behavior: smooth;
}


/* Hide scrollbar for webkit-based browsers */
.hidden-scrollbar::-webkit-scrollbar {
    display: none;
    /* background-color: aqua; */
}

.css-13cymwt-control {
    background-color: #f3f4f6 !important;
    border: none !important;
    border-radius: 12px !important;
}

/* .css-1nmdiq5-menu{
    background-color: #1f2937 !important;
} */

input,
textarea {
    outline: 0;
}

.react-datepicker-wrapper {
    width: 100% !important;
}

.react-datepicker__input-container {
    width: 100% !important;
}

.loader {
    /* Light background border */
    /* Main color for the loader */
    animation: spin 1s linear infinite;
    /* Animation properties */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        /* Start at 0 degrees */
    }

    100% {
        transform: rotate(360deg);
        /* Complete rotation at 360 degrees */
    }
}

.react-tel-input .country-list .country:hover{
    color: #000;
    background-color: #9c9c9c;
}
.react-tel-input .country-list .country.highlight{
    color: #000;
    background-color: #9c9c9c;

}