@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    scroll-behavior: smooth;
}


/* sidebar */
.sidebar {
    transition: width 0.3s ease-in-out;
}

.side {
    transition: flex-basis 0.3s ease-in-out;
}

/* Hide scrollbar for webkit-based browsers */
.hidden-scrollbar::-webkit-scrollbar {
    display: none;
    /* background-color: aqua; */
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #D1D5DB;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(225, 117, 44);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d57542;
}

.custom-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
}

/* Dark Mode Scrollbar */
.dark-custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.dark-custom-scrollbar::-webkit-scrollbar-track {
    background: #374151;
    border-radius: 10px;
}

.dark-custom-scrollbar::-webkit-scrollbar-thumb {
    background: #E1752C;
    border-radius: 10px;
}

.dark-custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d57542;
}

.dark-custom-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
}

.css-13cymwt-control {
    background-color: #f3f4f6 !important;
    border: none !important;
    border-radius: 12px !important;
}

/* .css-1nmdiq5-menu{
    background-color: #1f2937 !important;
} */

input,
textarea {
    outline: 0;
}

.react-datepicker-wrapper {
    width: 100% !important;
}

.react-datepicker__input-container {
    width: 100% !important;
}

.loader {
    /* Light background border */
    /* Main color for the loader */
    animation: spin 1s linear infinite;
    /* Animation properties */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        /* Start at 0 degrees */
    }

    100% {
        transform: rotate(360deg);
        /* Complete rotation at 360 degrees */
    }
}

.react-tel-input .country-list .country:hover {
    color: #000;
    background-color: #9c9c9c;
}

.react-tel-input .country-list .country.highlight {
    color: #000;
    background-color: #9c9c9c;

}

.person-slide {
    height: 400px;
    /* Adjust this height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.person-slide .post,
.person-slide .view-all-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.person-slide .img-box {
    flex-grow: 1;
}

.person-slide .data-body {
    flex-grow: 0;
}

.view-all-container .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    /* Light background for visual separation */
}

.view-all-container .bg-gray-300 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-all-container .text-2xl {
    font-size: 1.5rem;
}

/* breadCrumbs */
.step-item {
    @apply relative flex flex-col justify-center items-center text-center font-medium text-sm
}

.step-item:not(:first-child)::before {
    @apply content-[""] bg-main absolute w-full h-[3px] end-2/4 top-1/3 -translate-y-1/3
}

.step {
    @apply w-10 h-10 flex items-center justify-center  font-semibold z-10 relative bg-gray-300 dark:bg-slate-700 rounded-full
}

.btn {
    @apply bg-gray-800 hover:bg-gray-700  font-medium px-7 py-1
}

.active .step {
    @apply bg-main
}

.complete .step {
    @apply bg-second
}

.complete p {
    @apply text-second
}

.complete:not(:first-child)::before, .active:not(:first-child)::before {
    @apply bg-second
}